<section layout="row" flex class="my-app-container">
    <md-sidenav
        class="md-sidenav-left my-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$ctrl.path == '/map' && $mdMedia('gt-md')"
        md-disable-backdrop
        md-whiteframe="4"
        layout="column">
        <left-sidenav-content
          layer-filters="$ctrl.layerFilters"
          vital-signs-sections="$ctrl.vitalSignsSections"
          on-select="$ctrl.selectCollection(value, key)"
          on-nav-back="$ctrl.toggleSidenav('left',false)"
          layout="column"
          flex>
        </left-sidenav-content>
    </md-sidenav>
<div layout='column' flex>
  <md-toolbar md-whiteframe="2" class="my-toolbar">
      <div class="md-toolbar-tools">
          <md-button
            aria-label="menu"
            class="md-icon-button"
            ng-click="$ctrl.toggleSidenav('left')"
            ng-show="$ctrl.path == '/map' && !($ctrl.$mdMedia('gt-md'))">
            <md-icon md-font-set="md">menu</md-icon>
          </md-button>
          <md-icon
            md-svg-icon="logo"
            aria-label="logo"
            class="s36"
            ng-show="$ctrl.path == '/home' || ($ctrl.path == '/map' && !$ctrl.$mdMedia('gt-md'))">
          </md-icon>
          <h2 >
              <span >{{$ctrl.title}}</span>
          </h2>
          <span style="width:20px;"></span>
          <span style="font-size:12px;">{{$ctrl.boundaryText}}</span>
          <span flex></span>
          <!-- <input type="search" placeholder="Search"> -->
          <md-autocomplete ng-show="$ctrl.path == '/map' && $ctrl.$mdMedia('gt-sm')"
            md-disabled="false"
            placeholder="Search by Address..."
            md-search-text="$ctrl.searchText"
            md-items="item in $ctrl.searchAddress($ctrl.searchText)"
            md-selected-item="$ctrl.selectedAddress"
            md-selected-item-change="$ctrl.selectAddress(item)"
            md-item-text="item.formatted_address"
            >
            <md-item-template>
              <span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i"
              >
              {{item.formatted_address}}
            </span>
            </md-item-template>
            <md-button
              aria-label="menu"
              class="md-icon-button"
              ng-click="$ctrl.toggleSidenav('left')"
              ng-show="$ctrl.path == '/map' && !($ctrl.$mdMedia('gt-md'))">
            </md-button>
          </md-autocomplete>
          <md-button
            aria-label="map"
            ng-click="$ctrl.reroute('/map')">
            Map
          </md-button>
          <md-button
            aria-label="map"
            ng-click="$ctrl.reroute('/home')">
            Home
          </md-button>
          <toolbar-vert-menu ng-show="$ctrl.path == '/map'"
            on-select-layers-download="$ctrl.layersDownload(fileType)">
          </toolbar-vert-menu>
      </div>
  </md-toolbar>
  <div ng-view layout='column' flex></div>
</div>
    <md-sidenav
        layout="column"
        flex
        class="md-sidenav-right my-sidenav-right"
        md-component-id="right"
        ng-show="$ctrl.path == '/map'"
        md-whiteframe="4">
        <right-sidenav-content
          selected-key="$ctrl.selectedKey"
          selected-val="$ctrl.selectedVal"
          vital-signs-sections="$ctrl.vitalSignsSections"
          disqus-config="$ctrl.disqusConfig"
          on-select-layer-filter-option="$ctrl.selectLayerFilterOption(opt)"
          on-select-boundary-filter="$ctrl.selectBoundaryFilter(value)"
          on-select-boundary-filter-option="$ctrl.selectBoundaryFilterOption(value)"
          on-select-vital-signs-indicator="$ctrl.selectVitalSignsIndicator(value)"
          on-nav-back="$ctrl.toggleSidenav('right',false)">
        </right-sidenav-content>
    </md-sidenav>
</section>
