{
    "extends": "google",
    "installedESLint": true,
    "env": {
        "node": 1
    },
    "globals": {
        "document": true
    },
    "rules": {
      "no-warning-comments": 0,
      "camelcase": 0,
    }
}
