<md-menu>
<md-button
  class="md-fab my-top-right-ctrl"
  ng-click="$ctrl.openMenu($mdOpenMenu, ev)">
  <md-icon md-font-set="md">filter</md-icon>
</md-button>
<md-menu-content class="md-padding" layout="row">
  <div layout="column">
    <md-menu-item
      layout="row"
      ng-repeat="(k,v) in $ctrl.boundaryFilters">
      <md-checkbox ng-checked="v.on" ng-click="$ctrl.selectBoundaryFilter(v)">
        {{k}}
      </md-checkbox>
    </md-menu-item>
    <md-menu-item ng-if="$ctrl.selectedIndicator" layout="row">
      <md-checkbox ng-checked="v.on" ng-click="$ctrl.selectIndicator($ctrl.selectedIndicator)">
        {{$ctrl.selectedIndicator.Name}}
      </md-checkbox>
    </md-menu-item>
  </div>
  <div layout="column">
    <md-menu-item ng-repeat="(k,v) in $ctrl.boundaryFilters">
      <md-button aria-label="more" class="md-icon-button" ng-click="$ctrl.selectBoundaryFiltersMore(v,k)">
          <md-icon md-font-set="md">more_vert</i>
      </md-button>
    </md-menu-item>
    <md-menu-item ng-if="$ctrl.selectedIndicator">
      <md-button aria-label="more" class="md-icon-button" ng-click="$ctrl.selectIndicatorMore($ctrl.selectedIndicator,$ctrl.selectedIndicator.Name)">
          <md-icon md-font-set="md">more_vert</i>
      </md-button>
    </md-menu-item>
  </div>
  <!-- <md-menu-item>Hi</md-menu-item>
    <md-menu-item>Good</md-menu-item>
      <md-menu-item>Luck</md-menu-item> -->

</md-menu-content>
</md-menu>
<div class="my-top-left-container" flex>
  <legend-card
    selected-indicator="$ctrl.selectedIndicator"
    selected-address="$ctrl.selectedAddress"
    ng-show="($ctrl.$mdMedia('gt-md'))"
    >
  </legend-card>
</div>
<md-button
  class="md-fab my-top-right-ctrl-2"
  ng-show="(!$ctrl.$mdMedia('gt-md'))"
  ng-click="$ctrl.showBottomSheet()">
  <md-icon md-font-set="md">toc</md-icon>
</md-button>
