doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="jspm_packages/system.js")
    script(src="config.js")
    script.
      System.import('js/main.js');
    block css
    block head
  body
    block content
    //- Template-specific JS
    block js
